<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>mvvm test</title>
    <link rel="shortcut icon" type="image/ico" href="data:;" />
    <style>
      .a {
        color: #ff0000;
      }
      .header {
        color: yellow;
      }
      .main {
        color: #000;
        font-size: 20px;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <!-- <h1 v-style="a.color">1</h1> -->
      <!-- <h1 v-text="infoList[pageIndex].name"></h1>
      <h2
        style="color:red"
        class="header"
        v-style="style"
        v-class="class1"
        v-src="src1"
        v-href="img"
      >
        sss
      </h2>
      <h3 v-text="info.title"></h2> -->
      <!-- <h4 v-text="info.he.body.name" v-on:click="test"></h4> -->
      <!-- <h4 v-text="info.sex.she.asd.d" v-on:click="test"></h4> -->
      <div a="1">
        <div v-for="item in info.list" v-link="$index">
          <div v-text="item.name" v-class='$index===1?"a":"b"'></div>
          <div v-text="item.age" v-on:click="getIndex($index,$event)"></div>
        </div>
        <div v-for="item in info.list" v-text="item"></div>
      </div>
      <!-- <h3 v-text="title" v-on:click="handler">888</h3> -->
      <!-- <div id="b">
        <h4 v-if="v">
          <div>你好</div>
          <ul>
            <li v-for="item in infoList" v-text="item.name"></li>
          </ul>
        </h4>
      </div> -->
      <!-- <div v-src="v">1</div>
      <h3 v-show="v">显示</h3>
      <h3 v-hide="v">隐藏</h3> -->
      <!-- <h4 v-style="v?styleObj:styleObj1">测试</h4> -->
    </div>
  </body>
</html>
